In [37]:
import pandas as pd

from postgresql import PostgreSQL

result = PostgreSQL().get_list_by_id(141650)
result_df = pd.DataFrame(result)
# print(result_df)
print(len(result_df.loc[result_df[2] == 'FiO2']))
print(len(result_df.loc[result_df[2] == 'paO2']))

0
4

In [38]:
data_list = pd.read_csv('./file/test.csv')
id_list_df = pd.DataFrame(data_list)
id_list_df

       id  time labname  value
0  141168  1805    FiO2     28
1  141168  1805    paO2     41
2  141168  2010    FiO2    100
3  141168  2010    paO2     42
4  141168  2026    paO2     68
5  141168  2026    FiO2     35
6  141168  2141    FiO2     30
7  141168  2141    paO2    121

In [39]:
time_list = data_list['time'].unique()
time_list

array([1805, 2010, 2026, 2141])

In [42]:
for current_time in time_list:
    f_in_time = data_list[(data_list['time'] == current_time) & (data_list['labname'] == 'FiO2')]
    p_in_time = data_list[(data_list['time'] == current_time) & (data_list['labname'] == 'paO2')]
    print(str(f_in_time.loc[f_in_time.index[0], 'value']) + '--' + str(p_in_time.loc[p_in_time.index[0], 'value']))

28--41
100--42
35--68
30--121

In [83]:
a = 10
a_df = pd.DataFrame({a},columns=['id'])
a_df.to_csv('././file/111.csv',header=True)

# id合并

In [89]:
# 经过pf条件后的Id
valid_id_df_after_pf_filter = pd.read_csv('./file/merge_valid_id_after_pf_filter.csv')
valid_id_df_after_pf_filter

           id
0      231384
1      231388
2      231419
3      231427
4      231456
...       ...
35603  702397
35604  702523
35605  702600
35606  702618
35607  702728

[35608 rows x 1 columns]

In [90]:
# 经过除了pf之外，其他条件后的Id
valid_id_df_without_pf_filter = pd.read_csv('./file/valid_id_without_pf_filter.csv')
valid_id_df_without_pf_filter

            id
0      3181349
1      3145904
2      1652554
3      1321565
4      1646459
...        ...
24811  3047508
24812  1773256
24813   945940
24814  3200031
24815   560047

[24816 rows x 1 columns]

In [94]:
# 取交集
intersected_df = pd.merge(valid_id_df_after_pf_filter, valid_id_df_without_pf_filter, on=['id'], how='inner')
print(intersected_df.shape)
intersected_df.to_csv('././file/result/result_id.csv')
print(intersected_df['id'].unique().shape)

(15408, 1)
(15408,)